<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8" /><!– IE8 mode –>
        <link rel="stylesheet" type="text/css" href="/css/page.css" />
        <link rel="stylesheet" type="text/css" href="/css/flick/jquery-ui-1.10.3.custom.css" />
        <script type="text/javascript" src="/js/jquery-1.9.1.min.js"></script>
        <script type="text/javascript" src="/js/jquery-1.9.1.post-csrf-patch.js"></script>
		<script type="text/javascript" src="/js/jquery-ui-1.8.19.custom.min.js"></script>
        <script type="text/javascript" src="/js/layer/layer.js"></script>
        <script type="text/javascript" src="/js/cserp.js"></script>
	{% block head %}{% endblock %}
    </head>
    <body>
	{% block content %}{% endblock %}
    </body>
</html>