{% extends "./base_panel.html" %}
{% load business_tags %}
{% block title %}
	<title>选择消费卡模式</title>
{% endblock %}

{% block panel %}
	<div class="content bg-ll-blue" style="height:35px;line-height:35px;">
		<a href="/public/main/">主页</a> -> <a href="/bill/sale/">选择消费卡模式</a>
	</div>
	<div class="content bg-white">
		<div style="height:40px;">
		</div>
		<ul id="ulist">
			<a class="little-button button-blue" href="/bill/sale/value/new/">充值卡消费</a>
			<a class="little-button button-blue" href="/bill/sale/times/new/">计次卡消费</a>
		</ul>

	</div>
{% endblock %}