{% extends "./base_panel.html" %}
{% block title %}
	<title>编辑充值单</title>
{% endblock %}

{% block head %}
<script>
	$(function() {
		var fv = new formValidate('#frm'); 
		fv.init({});
		//绑定选择卡按钮
		bindButton('#ulist','#btnSelectCard','#id_card_id','#id_cardno','选择卡','/card/value/select/',2);
		
	});
</script>
{% endblock %}

{% block panel %}
	<div class="content bg-ll-blue" style="height:35px;line-height:35px;">
		<a href="/public/main/">主页</a> -> <a href="/bill/recharge/value/">充值单</a> -> 编辑充值单
	</div>


	<div class="content bg-white">
	<form id="frm" method="post" action="/bill/recharge/value/edit/{{b.id}}">
		{% csrf_token %}
		<div style="height:40px;">
			<input class="little-button button-red" type="submit" name="save" value="保存" />
			<a class="little-button button-blue"  href="/bill/recharge/value/">取消</a>
		</div>
		<ul id="ulist">
			<li class="form-li">{{f.card_id.as_hidden}}</li>
			<li class="form-li"><label>{{f.cardno.label}} </label>{{f.cardno}}<span></span>
			<span id="btnSelectCard" class="tiny-button button-green">选择</span>
			</li>
			<li class="form-li"><label>{{f.money.label}} </label>{{f.money}}<span></span></li>
			<li class="form-li"><label>{{f.amount.label}} </label>{{f.amount}}<span></span></li>
		</ul>
	</form>
	</div>
{% endblock %}