{% extends "./base_panel.html" %}
{% load business_tags %}
{% block title %}
	<title>储值卡详细</title>
{% endblock %}


{% block panel %}
	<div class="content bg-ll-blue" style="height:35px;line-height:35px;">
		<a href="/public/main/">主页</a> -> 储值卡详细
	</div>

	<div class="content bg-white">
		<div style="height:40px;">
			<a class="little-button button-blue" onclick="javascript:history.go(-1);" href="javascript:void(0);">返回</a>
		</div>
		<ul id="ulist">
			<li class="form-li">
				<span class="card">
					<p class="gray sv-font-l">储值卡号：{{cv.cardno}}<p>
					<p class="red sv-font-xxl align-center mgt20">{{cv.amount|floatformat:"2"}}元</p>
				</span>
			</li>
		</ul>
		<br/>
		<table class="data-table">
			<tr class="bg-light-blue">
				<th>时间</th>
				<th>店铺</th>
				<th>单据编号</th>
				<th>金额</th>
			</tr>
			{% for item in cvcs %}
			<tr>
				<td>{{item.ledger.time_gen|date:'Y-m-d H:i'}}</td>
				<td>{{item.ledger.bill.branch.branch_name}}</td>
				<td>{{item.ledger.bill.bill_id}}</td>
				<td>{{item.money|floatformat:"2"}}</td>
			</tr>
			{% endfor %}
		</table>
		<br/><br/><br/><br/><br/>
	</div>
{% endblock %}