{% extends "./base_panel.html" %}
{% block title %}
	<title>修改口令</title>
{% endblock %}

{% block head %}
<script>
	$(function() {
		var fv = new formValidate('#frm'); 
		fv.init({}); 
	});
</script>
{% endblock %}

{% block panel %}
	<div class="content bg-ll-blue" style="height:35px;line-height:35px;">
		<a href="/public/main/">主页</a> -> 修改口令
	</div>


	<div class="content bg-white">
	<form id="frm"  method="post" action="/public/passwd/">
		{% csrf_token %}
		<div style="height:40px;">
			<input class="little-button button-red" type="submit" name="save" value="保存" />
			<a class="little-button button-blue" href="/public/main/">取消</a>
		</div>
			<ul id="ulist">
				<li class="form-li"><label>{{f.oldpassword.label}} </label>{{f.oldpassword}}<span></span></li>
				<li class="form-li"><label>{{f.password1.label}} </label>{{f.password1}}<span></span></li>
				<li class="form-li"><label>{{f.password2.label}} </label>{{f.password2}}<span></span></li>
			</ul>
	</form>
	</div>
{% endblock %}