{% extends "./base.html" %}
{% block title %}
	<title>注册失败</title>
{% endblock %}

{% block content %}
<div>
	<div align="center" valign="middle" >
		<br/><br/>
		<table width="1000px"  class="f20">
			<tr height="50px">
				<td width="300"><span class="f40">注册失败</span></td>
				<td width="700"></td>
			</tr>
			<tr height="50px">
				<td></td>
				<td></td>
			</tr>
			<tr height="50px">
				<td><span class="red">提示：您的浏览器可能不支持cookie，请更换浏览器后重新注册！</span></td>
				<td></td>
			</tr>
			<tr height="50px">
				<td></td>
				<td></td>
			</tr>
			<tr height="50px">
				<td></td>
				<td></td>
			</tr>
			<tr height="50px">
				<td></td>
				<td></td>
			</tr>
		</table>
		<div id="divButton">
			<a class="btn-footer" onclick="javascript:history.go(-1);" href="javascript:void(0);">返回</a>
		</div>
	</div>
      
</div>

{% endblock %}