{% extends "./base_panel.html" %}
{% block title %}
	<title>商品</title>
{% endblock %}
{% block head %}
	<script type="text/javascript" src="/js/cserp_table.js"></script>
	<script type="text/javascript">
	$(document).ready(function(){
		var str_json="{\
		urlNew:'/setting/product/new/',\
		urlEdit:'/setting/product/edit/',\
		urlDelete:'/setting/product/delete/',\
		flagDelete:{}\
		}";
		table(str_json);
		
		bindRowColor("#dt");
		bindMouseMove("#dt");
	}); 
	</script>
{% endblock %}

{% block panel %}
	<div class="content bg-ll-blue" style="height:35px;line-height:35px;">
		<a href="/public/main/">主页</a> -> 商品
	</div>

	<div id="msg"></div>
	<div class="content bg-white">
		<div style="height:40px;">
			<span id="btnNew" class="little-button button-red">新增</span>
			<span id="btnDelete" class="little-button button-red" style="display:none">删除</span>
			<span id="btnEdit" class="little-button button-red" style="display:none">编辑</span>
		</div>
		<div id="ddt">
			<table id="dt" class="data-table">
				<tr class="bg-light-blue">
					<th width="25"><input id="chkTitle" type="checkbox"/></th>
					<th width="150">编号</th>
					<th>商品名称</th>
				</tr>
				{% for item in list %}
				<tr>
					<td><input name="item-checkbox" type="checkbox" value="{{item.id}}" /></td>
					<td width="100">{{item.product_id}}</td>
					<td>{{item.product_name}}</td>
				</tr>
				{% endfor %}
			</table>
		</div>
		<br/><br/><br/><br/><br/>
	</div>
{% endblock %}