{% extends "./base_panel.html" %}
{% block title %}
	<title>修改店铺</title>
{% endblock %}

{% block head %}
<script>
	$(function() {
		var fv = new formValidate('#frm'); 
		fv.init({}); 
	});
</script>
{% endblock %}

{% block panel %}
	<div class="content bg-ll-blue" style="height:35px;line-height:35px;">
		<a href="/public/main/">主页</a> -> <a href="/setting/branch/">店铺</a> -> 修改店铺
	</div>


	<div class="content bg-white">
	<form id="frm"  method="post" action="/setting/branch/edit/{{b.id}}">
		{% csrf_token %}
		<div style="height:40px;">
			<input class="little-button button-red" type="submit" name="save" value="保存" />
			<a class="little-button button-blue" href="/setting/branch/">取消</a>
		</div>
			<ul id="ulist">
				<li class="form-li"><label>{{f.branch_name.label}} </label>{{f.branch_name}}<span></span></li>
			</ul>
	</form>
	</div>
{% endblock %}